<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="content d-flex p-2 justify-content-center align-items-center flex-column">
    <h1>Lista de Alunos</h1>
    <div class="cont-table">
      <h3 class="text-black-50">Agenda</h3>
      <table class='table'>
        <thead class="thead-dark">
          <tr><th>Nome</th><th>RU</th><th>Curso</th><th>Data Nascimento</th></tr>
        </thead>
        <tbody>
          <ng-container *ngFor=" let aluno of lista_alunos">
            <tr>
              <td>{{ aluno.nome }} </td>
              <td><span>{{ aluno.ru }}</span> </td>
              <td><span>{{ aluno.curso }}</span> </td>
              <td><span>{{ aluno.dt_nasc }}</span> </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</body>
</html>

<router-outlet></router-outlet>
